{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Complaints list</title>
    <link rel="stylesheet" href="{% static 'complaints/css/style2.css' %}">
</head>
<h1>Complaints</h1>
<div class="container">
    <div class="container__form container--signin">
        <form method="post" class="form">
            {% csrf_token %}
<ul>
{% for complaint in complaints %}
    <li>
        <strong>{{ complaint.name }}</strong>: {{ complaint.message }}
    </li>
{% endfor %}
</ul>
        </form>
    </div>