{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Complaints list</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'complaints/css/style2.css' %}">

</head>
<body>
<h1>Complaints</h1>


<div class="container">
    <div class="container__form container--signin">
        <form method="post" class="form">
            {% csrf_token %}

            <table class="complaints-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for complaint in complaints %}
                    <tr>
    <td>{{ forloop.counter }}</td>

    <td>
        <a href="{% url 'complaint_detail' complaint.id %}" class="user-link">
            {{ complaint.name }}
        </a>
    </td>

    <td>{{ complaint.message }}</td>
</tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No complaints yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </form>
    </div>
</div>
</body>
</html>
