{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Complaint detail</title>
    <link rel="stylesheet" href="{% static 'complaints/css/style2.css' %}">
</head>
<body>

<h1>Complaint detail</h1>

<div class="container">
    <div class="container__form">
        <table class="complaints-table">
            <tr>
                <th>Name</th>
                <td>{{ complaint.name }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ complaint.message }}</td>
            </tr>
        </table>

        <br>

        <a href="{% url 'complaint_list' %}" class="user-link">
            ← Back to list
        </a>
    </div>
</div>

</body>
</html>
